<div class="container">
  <div class="card">
  <div class="row">
    <div class="col-md-4">
        <div class="gravatar-img">
          <img src="{{ gravatarUrl }}" alt="profile">
          <div><a class="gravatar" href="https://www.gravatar.com">Edit via Gravatar</a></div>
        </div>
      </div>
      <div class ="col-md-8">
          <form (ngSubmit)="onPublish(f)" #f="ngForm">
              <div class = "form-group">
                  <label for="fullName">Full Name</label>
                  <input type="text" 
                      id="fullName" 
                      class="form-control"
                      [ngModel]="user?.fullName"
                      name="fullName"
                      >
                  <label for="location">Location</label>
                  <input type="text" 
                      id="location" 
                      class="form-control"
                      [ngModel]="user?.location"
                      name="location"
                      >
                  <label for="biography">Biography</label>
                  <input type="text" 
                      id="biography" 
                      class="form-control"
                      [ngModel]="user?.biography"
                      name="biography"
                      >
              </div>
              <button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button>
              <button class="btn btn-primary" type="submit" >Update</button>
          </form>
    </div>
  </div>
</div>
</div>