.user-details {
    cursor: pointer;
}

.level-counter {
    margin-top: 12px;
    font-size: 10px;
}

.gravatar {
    margin-top: 8px;
    margin-right: 2px;
    margin-left: -4px;
    width: 24px;
    height: 24px;
    padding: 2px;
    border: #2980b9 1px solid;
    cursor: pointer;
}

.pages {
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    cursor: pointer;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    border-radius: 2px;
    padding: 4px 12px 6px 12px;
    
}

.pages:hover {
    margin-right: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: #2980b9;
    color: #ecf0f1;
}