.history-bar {
    background-color: #27ae60;
    height: 62px;
    width: 100%;
    padding: 2px;
    position: relative;
    overflow:hidden;
}

.history-text {
    color:rgba(236, 240, 241, 0.7);
    font-size: 24px;
    font-weight: bold;
    margin: 0px 8px;
    float: left;
}

.history-block {
    float: left;
    background-color: #ecf0f1;
    border-radius: 2px;
    margin: 6px 4px;
    cursor: pointer;
}

.history {
    font-size: 2em;
    width: 4vw;
    color: #2ecc71;
}

.history-meta {
   font-size: 1em;   
}

.jumbotron {
    padding: 16px 0px;
    margin: 0px;
    min-height: 75vh;
}

td {
    padding: 0 10px;
}

.form-box {
    max-width: 470px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 60px;
    border-radius: 2px
}

.form-control {
    border-radius: 2px;
    font-weight: bold;
    font-size: 20px;
}


button {
    border-radius: 2px;
    cursor: pointer;
    height: 43px;
    margin-left: 2px;
    padding: 0px 18px;
}

@media (max-width: 500px) {
    .form-group {
        margin: 0 auto;
        width: 100%;
    }
    button {
            width: 100%;
            margin-left: 0px;
        }
}

.character {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12em;
    color: #2ecc71;
    display: block;
    margin-left: 20%;
}

.two-way-height {
    height: 16px;
}

.two-way{
    text-align: center;
    vertical-align: text-top;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

.form-group {
    float:left;
}

.new-char {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFEB3B;
}

.fa-star {
    color: #FFEB3B;
}

.english-letter {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: #2ecc71;
    margin-top: -50px;
}

.bar-stats {
    background-color: #bdc3c7;
    padding: 0px 0px 6px 0px;
}

.meta-stats {
    padding: 0px 8px;
    color:  #ecf0f1;
    font-size: 10px;
    font-weight: bold;
}

.correct {
    color: #27ae60;
}

.incorrect {
    color: #c0392b;
}

.bar {
    background-image: linear-gradient(45deg, #ecf0f1, #c0392b);
    height: 2px;
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}

.leveled-up {
    position: absolute;
    margin-top: 0%;
    width: 100%;
    border-radius: 2px;
    margin: 0px 20px 20xp 20px;
    padding: 6px 4px;
    text-align: center;
    background-color: #FFEB3B;
    color: #FEFEFE;
    font-weight: bold;
    font-size: 20px;
}