.history-bar {
    background-color: #27ae60;
    height: 62px;
    width: 100%;
    padding: 2px;
    position: relative;
    overflow:hidden;
}

.history-text {
    color:rgba(236, 240, 241, 0.7);
    font-size: 24px;
    font-weight: bold;
    margin: 0px 8px;
    float: left;
}

.history-block {
    float: left;
    background-color: #ecf0f1;
    border-radius: 2px;
    margin: 6px 4px;
    cursor: pointer;
}

.history {
    font-size: 2em;
    width: 4vw;
    color: #2ecc71;
}

.history-meta {
   font-size: 1em;   
}

.jumbotron {
    padding-top: 16px;
}

td {
    padding: 0 10px;
}

.form-box {
    max-width: 470px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 60px;
    border-radius: 2px
}

.form-control {
    border-radius: 2px;
    font-weight: bold;
    font-size: 20px;
}

button {
    border-radius: 2px;
    cursor: pointer;
    height: 43px;
    margin-left: 2px;
    padding: 0px 18px;
}

.character {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12em;
    color: #2ecc71;
    display: block;
    margin-left: 20%;
}

.two-way-height {
    height: 16px;
}

.two-way{
    text-align: center;
    vertical-align: text-top;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

    /*.form-group {
        display: inline;
        float:left;
    }

    .next-to-text-input {
        display: inline;
    }*/
    .form-group {
        float:left;
    }

.new-char {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFEB3B;
}

.fa-star {
    color: #FFEB3B;
}