<div class="history-bar">
    <div *ngIf="leveledUp" class="leveled-up">YOU LEVELED UP!</div>
    <p class="history-text">history</p>
    <div *ngFor="let history of histories">
        <div class="history-block">
                <table>
                    <tr>
                        <td class="history">{{ history.savedChar }}</td>
                        <td>
                            <table>
                                <tr>
                                    <td class="history-meta" >{{ history.letter }}</td>
                                </tr>
                                <tr>
                                    <td class="history-meta" [style.color]="correctColor(history.correct)">{{ history.correct }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
        </div>
    </div>
</div>
<div class="jumbotron">
        <div class="form-box">
            <p class="new-char" *ngIf="unseen"><i class="fa fa-star" aria-hidden="true"></i> New Item!</p>
            <div class="form-box">
                <p class="character">{{ character }}</p>
                <div *ngIf="!nextNewItem" class="english-letter">{{ englishLetter }}</div>
                <div class="two-way-height">
                    <p class="two-way">{{ check }}</p>
                </div>
            </div>
            <form [formGroup]="myForm" (ngSubmit)="onCheck()">
                <div class="form-group">
                    <input 
                        #input 
                        type="text"
                        id="check"
                        class="form-control"
                        formControlName="check"
                        [(ngModel)]="check">
                </div>
                <button
                    class="btn btn-primary next-to-text-input"
                    type="submit"
                    [disabled]="!myForm.valid">Check!</button>
                </form>
            </div>
</div>
<div class="bar" [style.width]='setProgressWidth()'></div>
<div class="bar-stats">
    <span class="meta-stats">total seen: {{ totalCorrect + totalIncorrect }}</span><span class="meta-stats correct">correct: {{ totalCorrect }}</span><span class="meta-stats incorrect" >incorrect: {{ totalIncorrect }}</span><span class="meta-stats">percent correct: {{ percentageCorrect }}%</span>
</div>

