<div class="background">
    <div class="jumbotron">
        <div class="container">
            <div class="form-box">
                <h1>Please sign-in.</h1>
                <br>
                <form [formGroup]="myForm" (ngSubmit)="onSignin()">
                    <div class="form-group">
                        <input 
                                placeholder="Email"
                                type="email"
                                id="email"
                                class="form-control"
                                formControlName="email">
                    </div>
                    <div class="form-group">
                        <input 
                                placeholder="Password"
                                type="password"
                                id="password"
                                class="form-control"
                                formControlName="password">
                    </div>
                    <button
                            class="btn btn-primary"
                            type="submit"
                            [disabled]="!myForm.valid">Submit</button>
                </form>
                    <br>
                    <p>Don't have an account? <span class="sign-up" (click)="signup()">Sign Up</span></p>
            </div>
        </div>
    </div>
</div>