<div class="container">
  <div class="card">
      <div class="row">
    <div class="col-md-4">
        <div class="gravatar-img">
          <img src="{{ gravatarUrl }}" alt="profile">
          <div><a class="gravatar" href="https://www.gravatar.com">via Gravatar</a></div>
        </div>
      </div>

    <div class="col-md-8">
      <div *ngIf="isLoggedIn() && belongToUser()" class="edit-profile"><p class="logged-in">You are Logged In. </p> <button type="button" class="btn btn-primary" [routerLink]="['/profile/edit']">Edit Profile</button></div>      
      <h1>{{ username }}</h1>
      <h5 class="meta-span">{{ fullName }}</h5>
      <p class="meta-span level">Level: {{ level }}</p>
      <p class="meta-span exp">Exp: {{ exp }}</p>
      <p>Location: {{ location }}</p>
      <h6>Bio:</h6>
      <p><i class="fa fa-quote-left" aria-hidden="true"></i> {{ biography }} <i class="fa fa-quote-right" aria-hidden="true"></i></p>
      </div>
    </div>
  </div>
</div>