@media (max-width: 575px) {
    .container {
        padding: 0px;
    }

    div.card {
        padding: 20px;
    }

}


.card {
    margin: 30px;
    padding: 20px 60px;
    border-radius: 2px;
    position: relative;
}

.gravatar-img {
    float: right;
}

.meta-span {
    display: inline;
}

.edit-profile {
    display: block;
    float: right;
}

.logged-in {
    display: inline;

}

button {
    cursor: pointer;
}

.gravatar {
    margin-top: 2px;
    font-size: 10px;
    font-style: italics;
}