.container-fluid {
    height: 100vh;
    background: url('https://source.unsplash.com/qHD5SJwj9gM/1600x900');
    background-size: cover;
}
.container {
    padding-top: 10vh;
}

.form-box {
    max-width: 470px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 60px;
    border-radius: 2px
}

.log-in {
    text-decoration: underline;
    cursor: pointer;
}

.form-control {
    border-radius: 2px;
}

button {
    border-radius: 2px;
    cursor: pointer;
}

h1 {
    margin-bottom: 12px;
}

p {
    margin-bottom: 12px;
}