.img-fluid {
    position: absolute;
    top: 56px;
}

.form-box {
    max-width: 470px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 60px;
    border-radius: 2px
}

.log-in {
    text-decoration: underline;
    cursor: pointer;
}

.form-control {
    border-radius: 2px;
}

button {
    border-radius: 2px;
    cursor: pointer;
}

h1 {
    margin-bottom: 12px;
}

p {
    margin-bottom: 12px;
}