.container-fluid {
    height: 100vh;
    background: url('https://source.unsplash.com/rmDKFRR1ruU/1600x900');
    background-size: cover;
}

.jumbotron {
    background: none;
}

h1 {
    color: #EFEFEF;
}

p {
    color: #EFEFEF;
}