<div class="row">
    <div class="card" [routerLink]="['/profile', userId]">
        <div class="far-left-section">
            <h1>{{ index }}</h1>
        </div>
        <div class="left-section">
            <img class="img-fluid" src="{{ gravatarUrl }}">
        </div>
        <div class="middle-section">
            <div>
                <h3>{{user.username}}</h3>
            </div>
            <div>
                <span class="level">Lvl. {{ level }} </span><span class="exp">Exp. {{ user.exp }}</span><span class="you" *ngIf="belongToUser()">(You)</span>
            </div>
        </div>
        <div class="right-section">
            <i *ngIf="firstPlace" class="fa fa-trophy first-place" aria-hidden="true"></i>
            <i *ngIf="secondPlace" class="fa fa-trophy second-place" aria-hidden="true"></i>
            <i *ngIf="thirdPlace" class="fa fa-trophy third-place" aria-hidden="true"></i>
        </div>
      </div>
</div>
